<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Language Detection</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label> 
    <label class="logo">DIMITRIOS</label>
    <ul>
      <li><a href="homepage.html">Home</a></li>
      <li><a href="#">People Counter</a></li>
      <li><a href="#">Colour Detector</a></li>
      <li><a href="#">Text Summariser</a></li>
      <li><a href="#">Language Detector</a></li>
    </ul>
  </nav>
  <tabl class="center" align = "center">
    <tr>
    <td>
    <h1>Language Detection</h1>
      <form action="{{ url_for('predict')}}"method="post">
        <input type="text" name="text" placeholder="Enter a text" required="required" class="textarea"/>
          <br>
          <button type="submit">Predict</button>
          <input type="reset" value="Reset">
          <br>
     <br>
     {{ prediction }}
      </form>
    </td>
    </tr>
    </table>
     </body>
</html>